*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background: gray;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cara{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(252, 250, 248);
    gap: 10px;
    
}

.ojo1, .ojo2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@keyframes move {
    0%{ transform: translate(0);}
    30%{ transform: translate(20px, 20px);
        width: 70px;
        height: 100px;
        border-radius: 20px;}

    60%{ transform: translate(40px, -60px);
        width: 70px;
        height: 100px;
        border-radius: 20px;}

    80%{ transform: translate(0px, 0px);
         width: 70px;
        height: 70px;
        border-radius: 45px;}

    90%{ transform: translate(0px, 0px);
        width: 70px;
        height: 10px;
        border-radius: 45px;}

    100%{ transform: translate(0px, 0px);
        width: 70px;
        height: 70px;
        border-radius: 45px;}
}


