---
// import Frase from "./frase.astro"
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
---

<!-- <MainLayout> -->
    <div>
        <div style={{
            height: '750px',
        }}
         class=" h-full w-full flex  justify-center items-center pt-5 pb-5 gap-4">
        <div class='flex gap-6'>
            <button class="bg-red-400  h-20 w-32 rounded-lg font-bold text-3xl"> Añadir frase </button>
            <button class="bg-red-300  h-20 w-24 rounded-lg">Frase del día</button>
        </div>
</style>