*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(209, 193, 224);
    height: 27px;
}

.titulo1{
    color: blueviolet;
    display: flex;
    justify-content: center;
}

.barra{
    background-color: #F2F2F4;
    height: 100px;
}

.logo{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

}

.titulo{
    color:blueviolet
}

img{
    width: 10vw;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 30px;
    background-position-y:15px;
    padding-top: 10px;
}

.logos{
    width: 40vw;
    height: 10vh;
    display: flex;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    align-items: center;
}

.contenido{
    background-color: rgb(212, 204, 250);
    width: 100vw;
    height: 100vh;
}

.cuadro{
    width: 100vw;
    height: 50vh;
    background-color: rgb(197, 144, 247);
    display: flex;
    justify-content: center;
    
}
.imagenes{
    width: 70vw;
    height: 40vh;
    background-color: rgb(64, 5, 133);
    margin-top: 30px;
    border-radius: 10px;
}