*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(209, 193, 224);
    height: 27px;
}

.titulo1{
    color: blueviolet;
    display: flex;
    justify-content: center;
}

.barra{
    background-color: #F2F2F4;
    height: 100px;
}

.logo{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

}

.titulo{
    color:blueviolet
}

img{
    width: 10vw;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 30px;
    background-position-y:15px;
    padding-top: 10px;
}

.logos{
    width: 55vw;
    height: 15vh;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    align-items: center;
}

.logos2{
    width: 20vw;
    height: 10vh;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-start;
}
