*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
header{
    width: 100vw;
    height: 15vh;
    display: flex;
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
   display: flex;
   color: white; 
   align-items:center ;
}
.logo img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px ;
}

.nav-link{
    font-weight: 600;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.navegacion ul{
    list-style: none;
}
.menu >li{
  /*  position: relative;*/
   display: inline-block;
}
.menu >li >a{
    display: block;
    padding: 15px 20px;
}
.menu li a:hover{
    color: gray;
    transition: all .3s;
} 
.submenu{
    position: absolute;
    background: #333;
    visibility: hidden;
    opacity: 0;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: nones;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.contenido2{
    width: 100vw;
    height: 80vh;
    background: linear-gradient(45deg,rgba(36, 128, 214, 0.781) 25%, rgb(54, 54, 223) 40%);
}

.titulo_PR{
    background-image: url(perro.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 30px;
    background-position-y:10px;
}

.titulo1{
    width: 500px;
    height: 100px;
    margin-left: 500PX;
}
.parrafo{
    width: 500px;
    height: 100px;
    margin-left: 500PX;
    margin-top: 20PX;
}

.pie{
    width: 100vw;
    height: 40vh;
    background-color: black;
}

