*{
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcaja{
    width: 40vw;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
}

.carta{
    width: 100%;;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s;
}

.carta:hover{
    transform: rotateY(180deg);
    
}

.frente, abajo{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}


img{
    width: 100%;
    height: 100%;
}